:root {
  --bg-hero-color: #1f2937; /*information header text also; quote text*/
  --bg-button-color: #3882f6;
  --bg-quote-color: #e5e7eb; /*header link text also*/
  --hero-main-text: #f9faf8; /*header logo text also*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  background-color: var(--bg-button-color);
  border: none;
  border-radius: 5px;
  color: var(--bg-quote-color);
  font-size: 1.125rem;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
}

/* Navbar */

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  background-color: var(--bg-hero-color);
  padding: 1rem 8rem;
  font-size: 1.125rem;
}

.navbar-item a {
  color: var(--bg-quote-color);
  text-decoration: none;
  margin: 0 0.5rem;
}

.header-logo {
  color: var(--hero-main-text);
  font-size: 1.5rem;
}

/* Hero */

.hero {
  background-color: var(--bg-hero-color);
  height: 50vh;
  display: flex;
  padding: 2rem 5rem;
}

.sign-up {
  margin: 1rem;
  padding: 2rem;
  width: 50%;
}

.hero-img {
  margin: 1rem;
  padding: 2rem;
  width: 50%;
}

.hero-img img {
  height: 350px;
  width: 700px;
  object-fit: cover;
}
.hero-main-text {
  color: var(--hero-main-text);
  font-size: 3rem;
  font-weight: 900;
  margin: 1rem 0.75rem;
}

.hero-secondary-text {
  color: var(--bg-quote-color);
  font-size: 1.125rem;
  margin: 1rem 0.75rem;
}

/* Information Section */

.information {
  height: 50vh;
  padding: 2rem 5rem;
}

.information h1 {
  color: var(--bg-hero-color);
  font-size: 2.25rem;
  font-weight: 900;
  margin: 1rem;
  text-align: center;
}

.info-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  width: 12.5%;
}

.info-box {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 3px solid var(--bg-button-color);
  border-radius: 10px;
}

.info-text {
  color: var(--bg-hero-color);
  text-align: center;
}

/* Block Quote */
#quote {
  background-color: var(--bg-quote-color);
  color: var(--bg-hero-color);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 20rem;
}

.quote-text {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 1rem;
}

.quote-author {
  font-size: 1.125rem;
  font-weight: 900;
  text-align: right;
  margin-right: 3rem;
}

/* Utilities */

.push-left {
  margin-right: auto;
}
