:root {
  --bg-hero-color: #1f2937; /*information header text also; quote text*/
  --bg-button-color: #3882f6;
  --bg-quote-color: #e5e7eb; /*header link text also*/
  --hero-main-text: #f9faf8; /*header logo text also*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  background-color: var(--bg-hero-color);
  padding: 1rem;
  font-size: 1.125rem;
}

.navbar-item a {
  color: var(--bg-quote-color);
  text-decoration: none;
  margin: 0 0.5rem;
}

.header-logo {
  color: var(--hero-main-text);
  font-size: 1.5rem;
}

.push-left {
  margin-right: auto;
}
